body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jost-500 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.login-style {
  //display: flex;
  //flex-direction: column;
  //width: 50vw;
}

.register-style {
  display: none;
}

#register-link {
  border: none;
  color: blue;
  background-color: white;
}

form input {
  margin: 4px;
}
